body {
  font-family: 'Roboto Condensed', sans-serif;
  background: #fcfcfc;
}
input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 50px #fff !important; /* Цвет фона */
  -webkit-text-fill-color: #000 !important; /* цвет текста */
  color: #000 !important; /* цвет текста */
}
.container {
  min-width: 320px;
}
.left {
  float: left;
}
.right {
  float: right;
}
.dropdown-menu a {
  outline: none;
}
.search-form-global input,
.search-form-global button,
.search-form-global span,
.search-form-global a,
.search-form-global div,
.search-form-global p {
  outline: none;
}
h1 {
  font-size: 23px;
  margin: 20px 0px;
}
h2 {
  font-size: 22px;
}
h3 {
  font-size: 20px
}
h4 {
  font-size: 18px
}
.orange-text {
  color: #ef814b;
}
.white-bg {
  background: #fff;
  -webkit-box-shadow: 0 0 0 0 #000;
  -moz-box-shadow: 0 0 0 0 #000;
  box-shadow: 0 0 0 0 #000;
}
/* Header */
header {
  background-color: #fff;
}
.logo {
  text-align: left;
}
.logo img {
  width: auto;
  max-height: 46px;
}
/* search in header */
.global-search {
  border: none;
  padding: 0px;
}
.global-search .search-submit button {
  padding: 6px 50px;
}
.global-search .category-search {
  padding-right: 0px;
}
.global-search .category-search .bootstrap-select button {
  border-radius: 0;
}
.global-search .city-search .bootstrap-select button {
  border-radius: 0;
}
.global-search .items-input-search,
.global-search .city-search,
.global-search .search-submit {
  padding: 0px;
}
.global-search .search-submit {
  position: absolute;
  top: 0;
  right: 15px;
}
.global-search input[type='text'] {
  border: none;
  display: inline-block;
  padding: 9px 10px;
  width: 100%;
  background-color: #f1f1f1;
  font-size: 13px;
}
.global-search .items-input-search input {
  border: none;
  padding: 6px 10px;
  width: 100%;
  border-left: 3px solid #47973f;
  border-right: 3px solid #47973f;
}
.global-search .category-search .bootstrap-select button {
  width: 100%;
  border: none;
}
.global-search button {
  border: none;
}
.global-search .search-submit input[type='submit'] {
  background: url("/bitrix/templates/moiogorod/images/search_icon.png") no-repeat;
  background-size: 20px;
  background-color: #2b8cca;
  border: none;
  padding: 7px 20px;
  background-position: center;
  border-radius: 0px 2px 2px 0px;
}
.global-search .search-submit button:active {
  -webkit-box-shadow: inset 0px 8px 12px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 8px 12px -10px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 8px 12px -10px rgba(0, 0, 0, 0.75);
}
.global-search .city-search .bootstrap-select ul li.active a {
  background-color: #47973f;
}
/* end serach in header */
.account-control-main {
  text-align: right;
}
.account-control-main .user-info-header .user-name-header a {
  color: #5f5f5f;
  font-size: 15px;
}
.header-background {
  background-color: #bbf7cb;
  background-position: center;
  width: 100%;
}
/* END Header */

/* Main */
/* category mainpage */
#category_list {
  padding-bottom: 25px;
  width: 100%;
  overflow: hidden;
  margin-top: 30px;
}
#category_list .item {
  text-align: center;
}
#category_list .category-title {
  margin-top: 10px;
  display: block;
}
#category_list i.category-icon {
  display: block;
}
#category_list i.category-icon img {
  max-width: 70px;
  width: 100%;
}
#category_list .item a {
  word-wrap: normal;
  display: block;
  margin-bottom: 20px;
}
#category_list .item a:hover {
  text-decoration: none;
}
/* end category mainpage */

.add-advert-button {
  text-align: center;
  padding: 25px 0px;
  border-top: 1px solid #ccc;
}
/* statistic mainpage */
.consumer-elements-wrapper {
  border-top: 1px solid #ccc;
  padding: 25px 0px;
}
.consumer-element .cons-elem-title {
  width: 100%;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  padding-bottom: 15px;
}
.consumer-element .consuner-avrage span,
.consumer-element .consumer-minmax span {
  width: 50%;
  font-size: 13px;
}
.consumer-element .consuner-avrage span.price-value,
.consumer-element .consumer-minmax span.price-value {
  font-size: 14px;
  float: right;
  text-align: right;
}
/* END Main */

/* Catalog tile view */
.catalog-list.tile-view {
  font-size: 14px;
}
.catalog-list.tile-view .element-item {
  margin-bottom: 25px;
  min-height: 270px;
}
.catalog-list.tile-view .advertisment-image img {
  width: 100%;
}
.catalog-list.tile-view .advertisment-title {
  font-weight: bold;
  color: #008cc3;
  padding: 4px 0px 4px 5px;
  margin-bottom: 2px;
  margin-top: -4px;
}
.catalog-list.tile-view .advertisment-title.selected-ads {
  background-color: #ef783c;
}
.catalog-list.tile-view .advertisment-title.selected-ads a {
  color: #fff;
}
.catalog-list.tile-view .advert-price {
  font-weight: bold;
  padding-bottom: 3px;
  padding-left: 5px;
}
.catalog-list.tile-view .advert-company,
.catalog-list.tile-view .advert-city,
.catalog-list.tile-view .advert-time {
  font-size: 13px;
  padding-left: 5px;
}
.catalog-list.tile-view .advert-city {
  float: right;
  clear: both;
  background-color: #47973f;
  color: #FFF;
  padding: 0px 4px 1px 4px;
}
.catalog-list.tile-view .advert-time {
  color: #989898;
}
/* END Catalog tile view */

/* Catalog list view */
.catalog-list.list-view .element-item {
  margin-bottom: 25px;
}
.catalog-list.list-view .advertisment-image {
  width: 25%;
  float: left;
}
.catalog-list.list-view .advertisment-image img {
  width: 100%;
  height: auto;
}
.catalog-list.list-view .item-info-wrapper {
  float: left;
  width: 75%;
  padding-left: 20px;
}
.catalog-list.list-view .advertisment-title {
  margin-bottom: 2px;
}
.catalog-list.list-view .advertisment-title.selected-ads {
  background-color: #ef783c;
  margin-left: -20px;
}
.catalog-list.list-view .advertisment-title a {
  font-size: 16px;
  font-weight: bold;
}
.catalog-list.list-view .advertisment-title.selected-ads a {
  padding: 2px 20px;
  color: #fff;
}
.catalog-list.list-view .advert-price {
  font-size: 15px;
  font-weight: bold;
  padding: 3px 0px 5px 0px;
}
.catalog-list.list-view .advert-company {
  font-size: 14px;
}
.catalog-list.list-view .advert-city {
  font-size: 13px;
  float: right;
  clear: both;
  background-color: #47973f;
  color: #FFF;
  padding: 2px 4px;
}
.catalog-list.list-view .advert-time {
  font-size: 13px;
  color: #989898;
}
.advert-additional-text {
  display: none;
  font-size: 13px;
  padding-bottom: 5px;
}
.catalog-list.list-view .advert-additional-text {
  display: block;
}

/* END Catalog list view */

/* Content */
.list-control {
  text-align: right;
  margin-bottom: 20px;
  min-height: 35px;
}
.list-control .btn-primary {
  padding: 4px 8px;
  background-color: #ececec;
  border-color: #d6d6d6;
  -webkit-box-shadow: 0px 1px 1px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 1px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 1px 1px -1px rgba(0, 0, 0, 0.75);
  border-radius: 0px;
}
.list-control .btn-primary i {
  color: #000;
}
.list-control .btn-primary.active {
  background-color: #47973f;
  border-color: #cacaca;
  box-shadow: none;
}
.list-control .btn-primary.active i {
  color: #fff;
}
.section-items-filter {
  width: 150px;
  float: right;
  margin-left: 25px;
}
.section-items-filter button {
  padding: 2px 10px;
  border: 2px solid #47973f;
  border-radius: 0px;
}
.vip-advert {
  border: 3px solid #f13737;
}
.vip-advert .vip-header-title {
  background-color: #f13737;
  padding: 5px 15px;
  color: #fff;
  font-weight: bold;
}
.vip-advert ul {
  padding: 5px 15px;
}
.vip-advert ul li {
  border-bottom: 2px solid #9b9b9b;
  padding: 15px 0px;
}
.vip-advert ul li:last-child {
  border: none;
}
.vip-advert ul li .vip-title {
  color: #1093c6;
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 5px;
}
.vip-advert ul li .vip-price {
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 5px;
}
.vip-advert ul li .vip-company,
.vip-advert ul li .vip-city {
  font-size: 15px;
}
.slide-big-container {
  margin-bottom: 20px;
  width: 100%;
  overflow: hidden;
  display: table;
  height: 330px;
  padding: 10px;
  border: 1px solid #d4d4d4;
}
.slide-big-container > div {
  overflow: hidden;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.slide-big-container img {
  width: auto;
  height: auto;
  max-height: 300px;
  max-width: 100%;
}
.slide-controls li {
  margin: 0 5px;
  cursor: pointer;
}
.info-about-item p {
  font-size: 13px;
  color: #858585;
}
.info-about-item p.views-item {
  text-align: right;
}
.info-about-item {
  margin-bottom: 10px;
}
.slide-controls-wrapper .bx-wrapper .bx-viewport {
  box-shadow: none;
  border: none;
  left: 0px;
}
.bootstrap-select.btn-group .dropdown-menu li:focus {
  border: 1px solid #000;
}
/*.item-info-block {
  margin-bottom: 20px;
}
.item-info-block div {
  padding-bottom: 10px;
}
.item-info-block div p {
  display: inline-block;
}
.item-info-block div p:first-child {
  width: 50%;
  font-weight: bold;
}
.item-info-block .item-price {
  margin-bottom: 10px;
}
.item-info-block .item-price p {
  background-color: #47973f;
  padding: 4px 8px 3px 7px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  width: auto !important;
}
.item-properties-list {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0px 5px;
}
.item-properties-list tr td {
  width: 50%;
  font-size: 14px;
}
.raiting-informer {
  border: 2px solid #d4d4d4;
  padding: 5px 0px;
  margin-bottom: 20px;
  width: 100%;
  overflow: hidden;
}
.raiting-informer li.informer-average {
  position: relative;
}
.raiting-informer li.informer-average,
.raiting-informer li.informer-average ul,
.raiting-informer li.informer-average ul li {
  overflow: hidden;
}
.raiting-informer li.informer-average a.rating-control {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
}
.raiting-informer li.informer-average div p {
  font-size: 12px;
  font-weight: bold;
  padding: 2px 10px;
}
.raiting-informer li.informer-average div p.raiting-item-name {
  width: 40%;
  float: left;
}
.raiting-informer li.informer-average div p.raiting-item-price {
  width: 40%;
  float: left;
}
.raiting-informer li.informer-average div p.arrow-indicator {
  width: 19%;
  font-size: 18px;
  clear: both;
}
.raiting-informer li.informer-average ul {
  width: 85%;
  margin: 0 auto;
}
.raiting-informer li.informer-average ul li p {
  font-size: 11px;
  font-weight: normal;
}
.raiting-informer li.informer-average ul li p.arrow-indicator {
  font-size: 16px;
}*/
.arrow-indicator.fa-caret-down {
  color: green;
}
.arrow-indicator.fa-caret-up {
  color: red;
}
.banner-on-detail, .raiting-informer-wrapper {
  padding: 0px;
}
.review-item {
  width: 100%;
  clear: both;
  overflow: hidden;
  margin: 25px 0px;
}
.review-left {
  width: 25%;
  float: left;
  padding-right: 15px;
}
.review-left .review-photo {
  display: table;
}
.review-left .review-photo img {
  width: 100%;
  height: auto;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.review-left .review-date {
  margin-top: 10px;
  font-size: 13px;
  color: #858585;
}
.review-left .reviewer-name {
  margin-bottom: 10px;
  font-size: 14px;
}
.review-right {
  width: 75%;
  float: left;
  font-size: 15px;
}
/* END Content */

/* Footer */
footer {
  margin-top: 25px;
  overflow: hidden;
  background-color: #2b8cca;
}
.footer-nav {
  display: table;
  width: 100%;
  padding: 12px 5px;
  margin: 0 auto;
  text-transform: uppercase;

}
.footer-nav li {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.footer-nav li a {
  color: #fff;
  font-size: 12px;
}
.copyright {
  background-color: #2371a3;
  color: #fff;
}
.copyright .copyright-text {
  margin: 0;
  padding: 5px 0px;
  text-align: center;
  font-size: 10px;
  text-transform: uppercase;
}
/* END Footer */

/* Account */
.acoount-menu-wrapper {
  background-color: #ececec;
  padding: 15px 20px;
}
.acoount-menu-wrapper ul li {
  padding: 4px 0px;
}
.acoount-menu-wrapper ul li a {
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
}
.acoount-menu-wrapper ul li a:hover,
.acoount-menu-wrapper ul li.active a {
  color: #ef814b;
  font-weight: bold;
}
/* END Account */

/* Adding advert form */
.contact-info-add {
  background-color: rgb(247, 252, 255);
  border: 3px solid rgb(172, 226, 255);
  padding: 20px;
  margin-bottom: 25px
}
.contact-info-add h4 {
  font-weight: bold;
  padding-bottom: 10px;
}
.contact-info-add > div {
  padding: 10px 0px;
}
.contact-info-add > div p {
  width: 48%;
  display: inline-block;
}
.add-policy > div {
  border-left: 3px solid #ef814b;
  padding-left: 15px;
}
.add-policy p {
  font-size: 13px;
  padding-bottom: 15px;
}
.add-category h4, .add-category > p {
  width: 48%;
  display: inline-block;
}
.adding-form-wrapper > div, .adding-form-wrapper > div > div {
  padding: 10px 0px;
}
.adding-form-wrapper > div > div > p {
  width: 48%;
  display: inline-block;
}
/* END Adding advert form*/

/* Login form */
.login-form-wrapper.confirmation {
  margin-top: 20px;
}
.login-form-wrapper, .bx-auth-reg {
  padding: 30px;
  border: 5px solid #ECECEC;
}
.login-form-wrapper .user-login-field,
.login-form-wrapper .password-login-field {
  text-align: center;
  margin-bottom: 15px;
}
.login-form-wrapper .user-login-field input,
.login-form-wrapper .password-login-field input {
  width: 80%;
  padding: 5px 10px;
  border: 2px solid #ececec;
  margin: 0 auto;
}
.pre-confirm-message {
  text-align: center;
  color: #4fa900;
  font-size: 15px;
}
.help-login {
  width: 80%;
  margin: 0 auto 15px auto;
  overflow: hidden;
}
.help-login div {
  font-size: 14px;
}
.remember-me p {
  display: inline-block;
}
.help-login .forgot-pass {
  text-align: right;
}
.help-login .confirm-resend {
  text-align: right;
}
.help-login .confirm-resend button {
  background: transparent;
  cursor: pointer;
  color: #2b8cca;
  font-weight: bold;
}
.login-form-wrapper .button-login input {
  border-radius: 0px;
  margin: 0 auto;
  display: block;
  font-size: 16px;
}
.or-line {
  overflow: hidden;
  width: 100%;
  text-align: center;
  font-size: 14px;
  margin: 20px 0px;
}
.or-line:after, .or-line:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  width: 100%;
  height: 1px;
  background: #ececec;
  border: solid #FFF;
  border-width: 0 10px;
}
.or-line:after {
  margin-right: -100%;
}
.or-line:before {
  margin-left: -100%;
}
.login-form-wrapper h2, .bx-auth-reg h2 {
  text-align: center;
  margin-bottom: 20px;
}
/* END Login form */

/* Register form */
.register-form-wrapper {
  padding: 30px;
  border: 5px solid #ECECEC;
}
.register-form-wrapper .register-fields input[type="text"],
.register-form-wrapper .register-fields input[type="password"] {
  width: 80%;
  padding: 5px 10px;
  border: 2px solid #ececec;
  margin: 15px auto;
  display: block;
}
.register-form-wrapper .register-fields input[type="text"]:focus,
.register-form-wrapper .register-fields input[type="password"]:focus {
  -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0, 181, 0, 1) !important;
  -moz-box-shadow: inset 0px 0px 5px 0px rgba(0, 181, 0, 1) !important;
  box-shadow: inset 0px 0px 5px 0px rgba(0, 181, 0, 1) !important;
}
.register-form-wrapper h2 {
  text-align: center;
  margin-bottom: 20px;
}
.register-form-wrapper input.btn-success {
  border-radius: 0px;
  width: 40%;
  margin: 0 auto;
  display: block;
  font-size: 16px;
}
.bx-auth-reg .register-form-wrapper .errortext {
  font-size: 14px;
  line-height: 25px;
}
/* END Register form */

.term-of-use, .accommodation-conditions {
  text-indent: 10px;
}
.main-informer-wrapper {
  background: #f5f5f5;
}

/*.tails .item{
   padding: 0;
   background: #1b6d85;
   *border: 2px solid #fff;
}*/
/* ------------- Контейнер с адаптивными блоками------------- */
.tails {
  margin: 1.5em 0;
  padding: 0;
  column-gap: 1.5em; /* Общее расстояние между колонками */
  font-size: .85em;
  -moz-column-gap: 1.5em; /* Расстояние между колонками для Firefox */
  -webkit-column-gap: 1.5em; /* Расстояние между колонками  для Safari, Chrome и iOS */
}
/* Элементы в виде плиток с содержанием */
.tails .item {
  display: inline-block;
  background: #fff;
  *padding: 1em;
  margin: 0 0 1.5em;
  width: 100%;
  box-sizing: border-box; /* Изменения алгоритма расчета ширины и высоты элемента.*/
  -moz-box-sizing: border-box; /* Для Firefox */
  -webkit-box-sizing: border-box; /* Для Safari, Chrome, iOS иAndroid */
  *box-shadow: 2px 2px 4px 0 #ccc; /* Внешняя тень плиток */
  border: 1px solid #ECECEC;
}
/* Стили картинок, видое и фреймов внутри адаптивных плиток */
.tails .item img, .tails .item iframe {
  max-width: 100%;
  height: auto;
  display: block;
}
.tails .item .txt {
  padding: 15px;
}
/* Добавление товаров */
.add-ad-form {
  padding-top: 15px;
}
.add-ad-form span.required {
  color: red;
}
.add-ad-form label.btn {
  margin-right: 10px;
  margin-bottom: 5px;
}
.add-ad-form label.btn input[type="radio"] {
  display: none;
}
.add-ad-form .bootstrap-select {
  width: 100% !important;
}
.add-ad-form textarea {
  resize: none;
}
.add-ad-form .points {
  display: none;
}
.add-ad-form .error-field {
  background: rgba(255, 24, 24, 0.16) none repeat scroll 0 0;
}
.category-header .category-list,
.global-search {
  display: block;
}


/* News */
.news-list {
  overflow: hidden;
  width: 100%;
  padding: 0 5px;
}
.news-list .wrapper-preview_picture {

}
.news-list .wrapper-preview_picture img {
  width: 100%;
  height: auto;
}
.news-wrapper h1 {
  padding-left: 5px
}
.news-item .wrapper-preview_picture {
  text-align: center;
  padding: 15px;
}
.news-item .preview-conten {
  padding: 15px;
  border-left: 1px solid #eaeaea;
}
.news-item .go-to-detail {
  color: #666;
  font-size: 18px;
  text-decoration: none;
  font-weight: normal
}
.news-wrapper .news-item {
  border: 1px solid #eaeaea;
  margin-bottom: 20px;
  display: flex;
  display: -webkit-flex;
  -webkit-box-shadow: 0 2px 3px 2px rgba(235, 235, 235, 1);
  -moz-box-shadow: 0 2px 3px 2px rgba(235, 235, 235, 1);
  box-shadow: 0 2px 3px 2px rgba(235, 235, 235, 1);
}
.news-detail .detail-picture-wrapper img {
  height: auto;
  width: 100%;
}
/* END News */

/** 500px **/
@media screen and (max-width: 500px) {
  .content-wrapper .element-info-bottom .slider-block {
    overflow: hidden;
  }
}
/** Extra small **/
@media screen and (max-width: 576px) {
  .account-element-wrapper p {
    text-align: center;
  }
  .advert-element-control a {
    display: none;
  }
  .advert-element-control a.refresh-title,
  .advert-element-control a.edit-title,
  .advert-element-control a.delete-title {
    display: inline-block;
  }
  .account-element-wrapper .advert-element-control i {
    font-size: 20px;
  }
  .adding-balance-input {
    padding-bottom: 0px;
  }
  .adding-balance-input span {
    padding-bottom: 10px;
    display: inline-block;
  }
  .login-form-wrapper .user-login-field input,
  .login-form-wrapper .password-login-field input,
  .bx-auth-reg input {
    width: 100%;
  }
  .help-login {
    width: 100%;
  }
}
/**  XS  **/
@media screen and (max-width: 768px) {

  .header-background.container-fluid,
  .left-menu-element,
  .left-menu-section {
    display: none;
  }
  header {
    margin: 0px;
    position: fixed;
    width: 100%;
    background-color: #fff;
    padding-top: 15px;
    z-index: 90;
    -webkit-box-shadow: 0px 2px 3px 2px rgba(235, 235, 235, 1);
    -moz-box-shadow: 0px 2px 3px 2px rgba(235, 235, 235, 1);
    box-shadow: 0px 2px 3px 2px rgba(235, 235, 235, 1);
  }
  .header-control {
    margin-bottom: 5px;
  }
  .add-advert-responsive {
    text-align: center;
  }
  .menu-button-responsive i {
    font-size: 30px;
    font-weight: bold;
  }
  .add-advert-responsive .btn-success {
    font-size: 13px;
    padding: 5px 10px;
    border-radius: 0;
  }
  .content.content-general {
    margin-top: 75px;
  }
  .main-menu-point-wrapper {
    margin-top: 25px;
    overflow: hidden;
  }
  .catalog-menu-mobile-wrapper .menu-close {
    position: absolute;
    right: 20px;
    font-size: 25px;
    overflow: hidden;
    z-index: 10;
  }
  .add-button-desktop {
    display: none;
  }
  .add-button-mobile, .add-button-mobile a, .search-icon-mobile {
    display: inline-block;
  }
  .main-menu-tiles {
    margin-top: 75px;
  }
  .footer-nav li {
    display: block;
    margin-bottom: 10px;
  }
  .footer-nav li:last-child {
    margin-bottom: 0px;
  }
  .search-global-mobile {
    overflow: hidden;
  }
  .bx-searchtitle {
    overflow: hidden;
    margin: 5px 0px 15px;
  }
  .global-search .bx-input-group {
    display: block;
  }
  .global-search .bx-input-group input[type="text"] {
    z-index: inherit;
  }
  .global-search .bx-input-group span.bx-input-group-btn {
    position: absolute;
    right: 39px;
  }
  .search-icon-mobile.search-open {
    background-color: #9ecf58;
  }
  .messages-list .message-date {
    text-align: left;
  }
  .messages-list .message-remove i {
    font-size: 20px;
    padding: 20px 0px;
  }
  .item-list .element-item .item-distance-date .publication-date {
    text-align: left;
  }
}
/**  SM  **/
@media screen and (min-width: 768px) and (max-width: 991px) {
  .header-control {
    margin-left: 0;
    margin-right: 0;
  }
  .add-advert-responsive .btn.btn-success,
  .container .account-control-main .btn.btn-primary {
    margin-top: 5px;
  }
  .container .global-search .search-submit input[type='submit'] {
    background-size: 16px;
    width: 33px;
    height: 30px;
    padding: 0;
  }
  .global-search input[type='text'] {
    padding: 6px 10px;
  }
  .add-button-desktop {
    display: block;
  }
  .add-button-mobile, .search-icon-mobile {
    display: none;
  }
  .add-button-main {
    padding: 5px 0px;
  }
  .add-button-main a {
    padding: 6px 15px;
    font-size: 13px;
  }
  .account-control-mobile.logged, .account-control-mobile.anonymous {
    margin: 0;
  }
  .menu-button-responsive, .logo {
    padding: 5px 0px;
  }
  .bx-searchtitle .bx-input-group .bx-form-control {
    padding: 5px 10px;
  }
  .bx-searchtitle .bx-input-group-btn button {
    padding: 3px 13px;
    font-size: 17px;
  }
  .bx-searchtitle .bx-input-group-btn button img {
    width: 16px;
    margin-top: -3px;
  }
  .content.content-general, .main-menu-tiles {
    margin-top: 90px;
  }
  .mobile-button-wrapper {
    margin: 5px 0px;
  }
}
/** XS-SM **/
@media screen and (max-width: 991px) {
  .catalog-menu-mobile-wrapper {
    position: fixed;
    display: block;
    top: 0;
    left: -360px;
    min-height: 100%;
    background-color: #fff;
    z-index: 105;
    min-width: 320px;
    width: 320px;
    overflow: auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    height: 100%;
  }
  .item-list {
    padding-right: 0px;
  }
  .vip-advert-wrapper {
    padding-left: 0px;
  }
  .account-control-desktop {
    display: none;
  }
  .account-control-mobile {
    display: inline-block;
  }
  .logo img {
    width: 85px;
  }
  .account-balance-wrapper .add-balance p, .account-balance-wrapper .add-balance .add-balance-button {
    text-align: center;
  }
  .header-background {
    display: none;
  }
}
/** SM-LG **/
@media screen and (min-width: 768px) and (max-width: 1200px) {

}
/** MD-LG**/
@media screen and (min-width: 991px) and (max-width: 1200px) {
  .account-control-button, .account-control-button > p {
    margin: 0;
  }
  .account-control-button p.account-login {
    margin-right: 0;
    display: block;
  }
  .account-control-button > p {
    line-height: 15px;
  }
  .account-control-button p a {
    font-size: 14px;
  }
  .account-info-header-wrapper {
    max-width: 113px;
  }
  .account-menu-header-control .account-arrow {
    margin: 0px 0px 0px 5px;
  }
  .content-wrapper .element-info-bottom .slider-thumbnails li {
    margin: 0 8px 0 0;
  }
}
/** MD-Extra large **/
@media screen and (min-width: 991px) {
  .account-control-mobile, .add-button-mobile a {
    display: none;
  }
  .add-button-desktop {
    display: block;
  }
  .search-icon-mobile {
    display: none;
  }
  .logo {
    padding: 17px 0px;
  }
  .left-menu-element .main-left-wrapper .catalog-menu-icon-small,
  .left-menu-section .main-left-wrapper .catalog-menu-icon-small{
    width: 24%;
  }
  .left-menu-element .main-left-wrapper .first-level-link,
  .left-menu-section .main-left-wrapper .first-level-link {
    width: 74%;
  }
  .account-balance-wrapper .add-balance .add-balance-button {
    text-align: center;
  }
}
/** Extra large **/
@media screen and (min-width: 1200px) {
  .left-menu-element .main-left-wrapper .catalog-menu-icon-small,
  .left-menu-section .main-left-wrapper .catalog-menu-icon-small {
    width: 20%;
  }
  .left-menu-element .main-left-wrapper .first-level-link,
  .left-menu-section .main-left-wrapper .first-level-link {
    width: 78%;
  }
  .left-menu-element .main-left-wrapper .main-left-child,
  .left-menu-section .main-left-wrapper .main-left-child {
    margin-left: 58px;
  }
}